<% @contestants.each do |contestant| %>
  <section id=<%= "contestant-#{contestant.id}" %>>
    <p>Contestant: <%= contestant.name %></p>
    <p>Projects: <%= contestant.project_list %></p>
  </section>
  <br>
<% end %>